@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap')

// Global Variables

// Colours
$base-teal:             #24ffa0
$base-dark-teal:        #4b735c
$base-grey:             #333333
$base-orange:           #e73601
$white:                 #ffffff
$black:                 #000000

// Fonts
$font-family-ubuntu:    'Ubuntu', sans-serif
$font-family-roboto:    'Roboto Slab', serif
$font-family-base:             $font-family-ubuntu 


$font-base:             1rem
$font-large:            1.25rem
$font-xlg:              2rem
$font-logo:             3rem

$font-weight-normal:    normal
$base-line-height:      1.25

// Borders
$border-width:          1px
$border-radius:         10px

// Button
$btn-readMore:          $base-grey

$btn-border-readMore:   $base-grey

$btn-padding-x:         1rem
$btn-padding-y:         1.25rem
$btn-line-height:       $base-line-height
$btn-transition:        all, .2s, ease-in-out


// Breakpoints
$breakpoint-header: 1168px
$breakpoint-tablet: 768px
$breakpoint-phone: 400px
