.aboutMe-carousel
    margin: 50px

.w-100
    width: 60%!important
    display: inline-block!important
    padding-bottom: 10rem

.carousel-caption
    color: $base-dark-teal
    h5
        color: $base-orange

.carousel-indicators
    li
        background-color: $base-grey
    .active
        background-color: $base-orange
