.nav-header
    padding: 10px 15px 0
    background-color: $base-major
    width: 100%
    .container
        padding: none
        margin-left: auto
        margin-right: auto

.navbar-brand
    float: left
    color: $base-accent1 !important
    font-size: $font-logo
    text-transform: uppercase
    font: $font-family-ubuntu
    &:hover
        color: $base-accent2 !important

.navbar
    background-color: $base-accent5
    .navbar-nav
        font-size: $font-large
        font: $font-base
        .nav-link
            padding: 5px 10px
            color: $base-accent1 !important
            &:hover
                color: $base-accent2 !important
