.headshot-img
    border-radius: 50%
    border: 5px solid $base-dark-teal
    max-width: 540px
    width: 90%
    margin-bottom: 50px
    &:hover
        border: 5px solid $base-orange

.welcoming-message
    font-family: $font-family-roboto
    font-size: $font-large
    font-style: italic
    line-height: 1.5rem
    margin-bottom: 5rem
    &:hover
        transition: 0.5s, ease-in-out

.advance-arrow
    color: $base-orange
    font-size: $font-logo
    text-decoration: none
    &:hover
        color: $base-teal
        text-decoration: none
