@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  background-color: #edf6f9;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  background-color: #edf6f9;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #006D77;
  text-align: center;
  align-items: center;
}

.blue-section-container {
  background-color: #83c5be;
}

.light-section-container {
  background-color: #edf6f9;
}

.welcome-container {
  height: 100vh;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

h1.container-title {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  max-width: 75vw;
  font-size: 2rem;
}

.bluesection {
  background-color: #83c5be;
}

.lightsection {
  backdrop-color: #edf6f9;
}

.section-wrapper {
  padding: 5% 0;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue-section-wrapper {
  background-color: #83c5be;
  color: #edf6f9;
}

.light-section-wrapper {
  background-color: #edf6f9;
  color: #006D77;
}

.about-me-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
  justify-content: space-between;
  align-items: center;
}

.socials-wrapper {
  margin-top: 5vh;
}

.nav-header {
  padding: 10px 15px 0;
  background-color: #edf6f9;
  width: 100%;
}
.nav-header .container {
  padding: none;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  float: left;
  color: #006D77 !important;
  font-size: 2.5rem;
  text-transform: uppercase;
  font: "Ubuntu", sans-serif;
}
.navbar-brand:hover {
  color: #e73601 !important;
}

.navbar {
  background-color: rgba(72, 67, 73, 0.1215686275);
}
.navbar .navbar-nav {
  font-size: 1.25rem;
  font: 1rem;
}
.navbar .navbar-nav .nav-link {
  padding: 5px 10px;
  color: #006D77 !important;
}
.navbar .navbar-nav .nav-link:hover {
  color: #e73601 !important;
}

.advance-arrow {
  margin-top: 20%;
  color: #83c5be;
  font-size: 2.5rem;
  text-decoration: none;
}
.advance-arrow:hover {
  color: #e73601;
  text-decoration: none;
}

.headshot {
  border-radius: 50%;
  border: 1px solid #484349;
  margin-bottom: 5%;
}

.about-me {
  color: #484349;
  justify-content: center;
  align-items: center;
  display: flex;
}

.social-link {
  margin: 10px;
}

.main-footer {
  margin-top: 20px;
  text-align: center;
}
.main-footer a {
  text-decoration: none;
  color: #83c5be;
}/*# sourceMappingURL=main.css.map */