.nav-container
    padding-top: 15px
    padding-left: 15px
    padding-right: 15px
    margin-left: auto
    margin-right: auto
    display: block

.welcome-container
    max-height: 100%
    max-width: 100%
    display: flex
    justify-content: center
    padding: 50px 0
    background-color: $base-grey
    color: $base-teal
    .headshot-container
        padding-top: 10px
        text-align: center
        width: 90%
        max-width: 760px
        .welcoming-container
            max-width: 760px

.aboutMe-container
    margin-top: 20px
    padding-top: 40px

.workExperience-container
    margin-top: 20px
    padding-top: 40px

.portfolio-container
    margin-top: 20px
    padding-top: 40px

.contactMe-container
    margin-top: 20px
    padding-top: 40px
